@tailwind base;
@tailwind components;
@tailwind utilities;

.Cinema {
  margin-bottom: 18px;
  perspective: 400px;

  display: grid;
  place-items: center;
  grid-gap: 24px;
}

.Cinema .screen {
  height: 90px;
  background: rgb(255, 255, 255);
  width: 50%;
  transform: rotateX(-30deg) scale(1.1);
  /* box-shadow: 0 3px 10px 2px; */
  -webkit-box-shadow: 9px 13px 38px -9px rgba(77, 62, 77, 1);
  -moz-box-shadow: 9px 13px 38px -9px rgba(77, 62, 77, 1);
  box-shadow: 9px 13px 38px -9px rgba(77, 62, 77, 1);
}
